# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/all/themes/zenie/.sass-cache

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
