#block-menu-menu-secondary-menu {
  float: right;
  margin-top: 0.5em;
  ul {
    @include rounded-corners(5px);
    @include drop-shadow(1px, 6px);
    clear: both;
    margin-top: 2.25em;
    background: $midgrey;
    background: $semi-transparent-grey;
    padding: 0.5em;
    list-style-type: none;
    li {
      list-style-type: none;
      list-style-image: none;
      a:hover {
        color: $dirty-pale-yellow;
        @include colour_fade;
      }
    }
  }
  h2 {
    display: none;
  }
  .menu-button {
    @include rounded-corners(5px);
    background: $midgrey;
    background: $semi-transparent-grey;
    border: 1px solid white;
    padding: 0.25em;
    display: inline-block;
    @include background_colour_fade;
    &.menu-expanded, &:hover {
      border-top: 1px solid $dark-grey;
      border-left: 1px solid $dark-grey;
      border-top: 1px solid $darkish-grey;
      border-left: 1px solid $darkish-grey;
      @include background_colour_fade;
    }
    &.menu-expanded {
      background: $midgrey;
      float: right;
      clear: both;
    }
    &:hover {
      cursor: pointer;
      background: $light-grey;
    }
  }
}
