#block-menu-menu-secondary-menu {
  float: right;
  background: $midgrey;
  background: $semi-transparent-grey;
  padding: 0.5em;
  h2 {
    display: none;
  }
  .menu-button {
    border: 1px solid white;
    padding: 0.25em;
    display: inline-block;
    &.menu-expanded, &:hover {
      border-top: 1px solid $dark-grey;
      border-left: 1px solid $dark-grey;
      border-top: 1px solid $darkish-grey;
      border-left: 1px solid $darkish-grey;
    }
    &.menu-expanded {
      background: $midgrey;
      float: right;
      clear: both;
    }
    &:hover {
      cursor: pointer;
      background: $light-grey;
    }
  }
}
